{% extends "_base.html" %}

{% block page %}projects{% endblock page%}
{% block lang %}{% if section.extra.lang %}{{ section.extra.lang }}{% else %}{{ section.lang }}{% endif %}{% endblock lang %}
{% block title %}{{ section.title }}{% endblock title %}
{% block desc %}
  <meta name="description" content="{{ section.description }}">
{% endblock desc %}

{% block content %}
{% include "_header.html" %}
<div id="wrapper">
  <main>
    <div class="proj">
      <div class="content">
        <div>
          <p class="name">Email: <a class="detail" href="mailto:venu009reddy@gmail.com">venu009reddy@gmail.com</a></p>
          <p class="name">Github: <a class="detail" href="https://github.com/venudreddy" target="_blank">venuDreddy</a></p>
          <p class="name">linkedIn: <a class="detail" href="https://www.linkedin.com/in/venu-gopal-reddy-ch" target="_blank">Venu Gopal Reddy Ch</a></p>
          <p class="name">Discord: <a class="detail" href="https://discordapp.com/users/crimson_spear" target="_blank">crimson_spear</a></p>
        </div>
      </div>
  </main>
</div>
{% endblock content %}